<!doctype html>
<html lang="en" ng-strict-di>

<head>
    <base target="_self">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="true">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- IE/Edge -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- for Facebook -->
    <meta property="og:title" content="I have got plenty global call minutes. You should try it too.">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Tap to get credits for free global landline & mobile calls.">
    <meta property="og:image" content="http://whatscall.cmcm.com/m/activity/wsc_red_package/sharetofb.jpg">

    <meta name="copyright" content="Copyright (c) cmcm.com">
    <title>Diablohu's' Starter-Kit for Angular</title>
</head>

<body ng-controller="root">

    <script src="dist/critical.js"></script>

    <div class="loading" ng-if="!ready">
        loading main.js
    </div>

    <div id="app" ng-if="ready" ng-class="{ready: ready}">

        <div ng-controller="test">
            <h2>Hello Angular!</h2>
            <p>Bootstrap time: {{ elapsed }}ms</p>
        </div>

    </div>

    <script src="dist/main.js"></script>

</body>

</html>